<div class="contenedorEquipo" style="background-color: #009933">
    <div class="base">
      <div class="panel panel-superior">
        <div class="equipo-superior izquierdo" >
          <span style="width: 50%"><strong>{{team}}</strong> </span>
        </div>
      </div>
      <div class="panel marcadores">
        <div class="equipo-marcador nombre">
          <p class="float-izquierda"></p>
          <div class="float-derecha"></div>
        </div>
        <div *ngIf="etages[0]" class="marcador-tiempo"><time> <strong> <countdown  [config]="{leftTime: 210}">$!m!:$!s!</countdown> </strong></time></div>
        <div class="equipo-marcador nombre">
          <p class="float-derecha"></p>
          <div class="float-izquierda"></div>
        </div>
      </div>

      <!-- Etage 1-->
      <div *ngIf="missionEtage[0] && missions && piquets" class="panel panel2 panel-inferior mission">
        <div class="inferior-boton  float-izquierda"><a *ngFor="let a of missionsAccomplished; let i=index"><button>{{a}} ({{missions[i].score}}) <br><div class="inferior-boton  float-izquierda">{{piquets[i]}}</div>  piquets touchees</button></a></div>
      </div>
      <!-- Etage 2-->
      <div  *ngIf="missionEtage[1]" class="panel panel-inferior mission">
        <div style="margin-top: 10px" class="inferior-boton float-izquierda"><a *ngFor="let a of nbTours"><button>{{a}}</button></a></div>
      </div>
      <!-- Score -->
      <div class="panel marcadores">
        <div class="equipo-marcador nombre">
          <p class="float-izquierda"></p>
          <div class="float-derecha"></div>
        </div>
        <div class="marcador-tiempo"> <strong> {{scoreTotal}} </strong></div>
        <div class="equipo-marcador nombre">
          <p class="float-derecha"></p>
          <div class="float-izquierda"></div>
        </div>
      </div>
    </div>
  </div>

  <app-cube></app-cube>
