<div class="contenedorEquipo" style="background-color: green">
    <div class="base">
      <div class="panel panel-superior">
        <div class="equipo-superior izquierdo">
          <span>{{team}}</span>
        </div>
      </div>
      <div class="panel marcadores">
        <div class="equipo-marcador nombre">
          <p class="float-izquierda"></p>
          <div class="float-derecha"></div>
        </div>
        <div *ngIf="etages[0]" class="marcador-tiempo"><time> <countdown  [config]="{leftTime: 140}">$!m!:$!s!</countdown></time></div>
        <div *ngIf="etages[1]" class="marcador-tiempo"><time> <countdown  [config]="{leftTime: 70}">$!m!:$!s!</countdown></time></div>
        <div class="equipo-marcador nombre">
          <p class="float-derecha"></p>
          <div class="float-izquierda"></div>
        </div>
      </div>

      <!-- Etage 1-->
      <div *ngIf="missionEtage[0]" class="panel panel-inferior mission">
        <div style="margin-top: 10px" class="inferior-boton float-izquierda"><a *ngFor="let a of missionsAccomplished"><button>{{a}}</button></a></div>
      </div>
      <!-- Etage 2-->
      <div  *ngIf="missionEtage[1]" class="panel panel-inferior mission">
        <div style="margin-top: 10px" class="inferior-boton float-izquierda"><a *ngFor="let a of nbTours"><button>{{a}}</button></a></div>
      </div>
      <!-- Score -->
      <div class="panel marcadores">
        <div class="equipo-marcador nombre">
          <p class="float-izquierda"></p>
          <div class="float-derecha"></div>
        </div>
        <div class="marcador-tiempo">{{scoreTotal}}</div>
        <div class="equipo-marcador nombre">
          <p class="float-derecha"></p>
          <div class="float-izquierda"></div>
        </div>
      </div>
    </div>
  </div>
